# <center>UAS (Malam) : Data Warehouse dan Data Mining</center>

- NIM : 2021230056
- Nama : RIZKI NURPADILAH

---

# <u>Soal :</u>
## <font color=red>Berikut Program membangun model regresi (prediksi pembayaran premi asuransi), koreksi dan lengkapi jika ada yang perlu diperbaiki, simpan hasil/model-nya dan gunakan untuk membangun aplikasi web  dengan Streamlit, upload ke server streamlit !</font>

---

In [5]:
import numpy as np
import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt

### Loading Dataset

In [6]:
df = pd.read_csv('insurance1.csv')
df.head()

   age  sex     bmi  children  smoker      charges
0   19    0  27.900         0       1  16884.92400
1   18    1  33.770         1       0   1725.55230
2   28    1  33.000         3       0   4449.46200
3   33    1  22.705         0       0  21984.47061
4   32    1  28.880         0       0   3866.85520

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348 entries, 0 to 347
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       348 non-null    int64
 1   sex       348 non-null    int64
 2   bmi       348 non-null    float64
 3   children  348 non-null    int64
 4   smoker    348 non-null    int64
 5   charges   348 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 16.4 KB

In [8]:
df.describe()

,age,sex,bmi,children,smoker,charges
count,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000
mean,39.591954,0.508621,30.676552,1.091954,0.232759,14016.426293
std,14.417015,0.500646,5.625850,1.192021,0.423198,12638.887852
min,18.000000,0.000000,15.960000,0.000000,0.000000,1137.011000
25%,27.000000,0.000000,26.782500,0.000000,0.000000,4888.466125
50%,40.000000,1.000000,30.300000,1.000000,0.000000,9719.305250
75%,53.000000,1.000000,34.777500,2.000000,0.000000,19006.316150
max,64.000000,1.000000,49.060000,5.000000,1.000000,51194.559140

In [9]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
charges     0
dtype: int64

### Data Preparation - Mengubah data categorical ke numeric
Perbaiki jika ada ERROR

In [10]:
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder()
# df[['sex','smoker','region']]=oe.fit_transform(df[['sex','smoker','region']])
df[['sex','smoker']]=oe.fit_transform(df[['sex','smoker']])

In [11]:
# df[['sex','smoker','region']]=df[['sex','smoker','region']].astype(int)
df[['sex','smoker']]=df[['sex','smoker']].astype(int)

In [12]:
df.head()

   age  sex     bmi  children  smoker      charges
0   19    0  27.900         0       1  16884.92400
1   18    1  33.770         1       0   1725.55230
2   28    1  33.000         3       0   4449.46200
3   33    1  22.705         0       0  21984.47061
4   32    1  28.880         0       0   3866.85520

In [13]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

### Memisah Feature dan Label

In [14]:
target=df['charges']
features=df.drop(columns=['charges'])

In [15]:
#Standardization
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
features=sc.fit_transform(features)

In [16]:
pd.DataFrame(features[:5])

          0         1         2         3         4
0 -1.430366 -1.017393 -0.494245 -0.917371  1.815571
1 -1.499828  0.982905  0.550655 -0.077252 -0.550791
2 -0.805205  0.982905  0.413590  1.602986 -0.550791
3 -0.457893  0.982905 -1.418991 -0.917371 -0.550791
4 -0.527355  0.982905 -0.319799 -0.917371 -0.550791

### Membangun Model

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [18]:
x_train,x_test,y_train,y_test=train_test_split(features,target,shuffle=True,train_size=0.8,random_state=1)

In [19]:
len(x_train)

278

In [20]:
len(x_test)

70

In [21]:
#Training
model_uas=LinearRegression()
model_uas.fit(x_train,y_train)

LinearRegression()

### Evaluasi

In [22]:
from sklearn.metrics import r2_score,mean_squared_error
pred=model_uas.predict(x_test)
print('r2 score :',r2_score(y_test,pred))
print('MSE :',mean_squared_error(y_test,pred))

r2 score : 0.7949274180222381
MSE : 27448376.079466797

In [23]:
print(pred[:5])
print(y_test[:5])

[32357.41109762  5506.53608861  5567.19663848 26292.94660909
 34326.34056167]
85     21098.55405
191     4883.86600
107     3877.30425
105    17560.37975
123    39556.49450
Name: charges, dtype: float64

### Menyimpan Model untuk Deployment

Install pickle jika belum ada

  !pip install pickle-mixin

In [24]:
import pickle

pickle.dump(model_uas,open('model_uas.pkl','wb'))

Cek file model_uas.pkl, dan gunakan sebagai model saat membangun aplikasi web berbasis streamlit

---
### Clue 
Untuk membangun model ini ke aplikasi web streamlit :
- Model terdiri dari 5 atribut input dan 1 output : 

  INPUT :
  - 'age', umur
  - 'sex',  jenis kelamin
  - 'bmi',  berat
  - 'children',  jumlah anak
  - 'smoker',  perokok atau tidak
  
  OUTPUT
  - charges, besar iuran asuransi per bulan

In [42]:
import numpy as np
import pandas as pd

# Memuat dataset
df = pd.read_csv('insurance1.csv')
df.head()
df.info()
df.describe()
df.isna().sum()

# Preprocessing data
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()

# Mengubah kolom 'sex' dan 'smoker' menjadi numerik
df[['sex', 'smoker']] = oe.fit_transform(df[['sex', 'smoker']])
df[['sex', 'smoker']] = df[['sex', 'smoker']].astype(int)
df.head()

# Membagi data menjadi fitur (features) dan target (charges)
target = df['charges']
features = df.drop(columns=['charges'])

# Standarisasi fitur
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
features = sc.fit_transform(features)
pd.DataFrame(features[:5])

# Membagi dataset menjadi data latih dan uji
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features, target, shuffle=True, train_size=0.8, random_state=1)
print(f"Jumlah data latih: {len(x_train)}")
print(f"Jumlah data uji: {len(x_test)}")

# Melatih model regresi linier
from sklearn.linear_model import LinearRegression
model_uas = LinearRegression()
model_uas.fit(x_train, y_train)

# Mengevaluasi model
from sklearn.metrics import r2_score, mean_squared_error
pred = model_uas.predict(x_test)
print(f"R-squared Score: {r2_score(y_test, pred):.2f}")
print(f"Mean Squared Error: {mean_squared_error(y_test, pred):.2f}")

# Menampilkan beberapa hasil prediksi dan nilai asli
print(pred[:5])
print(y_test[:5])

# Menyimpan model dengan pickle
import pickle
pickle.dump(model_uas, open('model_uas.pkl', 'wb'))

# Contoh penggunaan model untuk prediksi
age = 27
sex = 1  # 1 untuk male, 0 untuk female
bmi = 30
children = 5
smoker = 0  # 1 jika smoker, 0 jika non-smoker

# Mengubah input menjadi array dan reshape
X = np.array([age, sex, bmi, children, smoker])
X = X.reshape(1, -1)

# Memuat model yang sudah disimpan
loaded_model = pickle.load(open('model_uas.pkl', 'rb'))

# Prediksi pembayaran premi
charger_pred = loaded_model.predict(X)

# Menampilkan hasil prediksi
print("Prediksi Pembayaran premi: ", charger_pred)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348 entries, 0 to 347
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       348 non-null    int64
 1   sex       348 non-null    int64
 2   bmi       348 non-null    float64
 3   children  348 non-null    int64
 4   smoker    348 non-null    int64
 5   charges   348 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 16.4 KB
Jumlah data latih: 278
Jumlah data uji: 70
R-squared Score: 0.79
Mean Squared Error: 27448376.08
[32357.41109762  5506.53608861  5567.19663848 26292.94660909
 34326.34056167]
85     21098.55405
191     4883.86600
107     3877.30425
105    17560.37975
123    39556.49450
Name: charges, dtype: float64
Prediksi Pembayaran premi:  [185728.22113982]

In [39]:
#hasil setelah disubmit
print("Prediksi Pembayaran premi : ",charger_pred)

Prediksi Pembayaran premi :  [185728.22113982]

---